$titleWidth: 105rem;
$titleFontSize: 6rem;

$borderRadius: 50px;

$labelWidth: 45rem;
$labelFontSize: 4rem;

$transparency: 0.9;

#left:target {
  .menu {
    right: initial;
    left: 0;
    align-items: flex-start;
    bottom: 2rem;
    display: flex;
  }
  label {
    background: rgba(0, 60, 255, 0.75);
  }
}

#right:target {
  .menu {
    // right: initial;
    // left: 0;
    align-items: flex-end;
    top: 2rem;
    display: flex;
  }
  label {
    background: rgba(255, 0, 149, 0.8);
  }
}

body {
  counter-reset: menu;
}

.content {
  display: flex;
  align-items: flex-end;
}

#left,
#right {

  label.menu-title {
    background-color: transparent;
    cursor: pointer;
  }

  .menu {
    display: none;
    flex-direction: column;
    padding-bottom: 15rem;
    align-items: flex-end;
    position: fixed;
    right: 4rem;

    &-title {
      font-size: $titleFontSize;
      margin-left: 3.5rem;
      padding: 1rem 3rem;
      width: $titleWidth;
      position: fixed;
      text-align: center;
      bottom: 3.5rem;
      left: 0;

      &::before {
        position: absolute;
        border-radius: $borderRadius;
        top: -1rem;
        bottom: -1rem;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, $transparency);
        content: '';
        z-index: -1;
        transform: skewX(-15deg);
        border: 2rem solid rgba(255, 0, 0, 0.514);
      }
    }

    label {
      color: white;
      font-weight: bold;
      font-size: $labelFontSize;
      padding: 1rem 2rem;
      transition: 500ms;
      border-radius: 2rem;
      margin-left: 3.5rem;
      margin-bottom: 1rem;
      display: inline-block;
      // width: $labelWidth;
      text-transform: capitalize;
      white-space: nowrap;

      &::before {
        counter-increment: menu;
        padding-right: 1rem;
        content: counter(menu) ": ";
      }
    }

    &__el-meniosos {
      position: fixed;
      top: -100px;
    }

    &__el-meniosos:checked + label,
    &__el-meniosos:focus + label {
      background: rgba(123, 41, 201, 0.9);
      color: white;
      transform: scale(1.1)
    }
  }
}
