extends _component/layout/base

block awesome-content
  .button__wrapper
    .button__background
    button.button__foreground Marian Zburlea
  .button__wrapper
    .button__background
    button.button__foreground Senior Front End Developer
